@model Mi_primera_aplicación_web_MVC.Models.Equipo

@{
    ViewData["Title"] = "Detalle del Equipo";
}
<h1>@Model.Nombre</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>@Model.Nombre</td>
    </tr>
    <tr>
        <th>Partidos Jugados</th>
        <td>@Model.PartidosJugados</td>
    </tr>
    <tr>
        <th>Ganados</th>
        <td>@Model.PartidosGanados</td>
    </tr>
    <tr>
        <th>Perdidos</th>
        <td>@Model.PartidosPerdidos</td>
    </tr>
    <tr>
        <th>Empatados</th>
        <td>@Model.PartidosEmpatados</td>
    </tr>
    <tr>
        <th>Puntos</th>
        <td>@Model.Puntos</td>
    </tr>
</table>

<a asp-action="ListaEquipos" class="btn btn-secondary">Ver la Tabla</a>

